<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Landon Hotel Activities</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <img src="assets/icon/logo_big.png" class="logo-login">
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating">User</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button class="button-full" type="button">Submit</ion-button>
  </form>

</ion-content>
